{% extends "layout.html.twig" %}
{% block title %}Login-home{% endblock %}

{%block javascript%}
<script type="text/javascript" src="/js/login.js"></script>
{%endblock%}
{% block content %}
<div class="col-md-2"></div>
<div class="col-md-6"><!-- content -->
    <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title">Login --- user ---</h3>
      </div>
      <div class="panel-body">

        <div class="login">
        <form name="login"  method="POST" action="/" id="login"  novalidate>
            <div class="form-group">
                <label for="user">Usuario</label>
                <input type="text" class="form-control" value="" name="user" required id="user" placeholder="Usuario"
                data-placement="top" data-trigger="manual" data-content="Introduce tu usuario" />
            </div>
            <div class="form-group">
                <label for="pwd">Contrasña</label>
                <input type="password" name="pwd" class="form-control" id="pwd"  value="" placeholder="contraseña" data-placement="top" data-trigger="manual" data-content="Introduce tu contraseña, con un minimo una letra mayuscula, una minuscula y un núnmero  y con un mínimo de 5 carácteres" required />

            </div>
            
            <input type="submit" value="enviar" />
        </form>
            {%if error is defined%}
            {{error}}
                {%endif%}
    </div>
  </div>
</div>
</div><!-- content-->
{% endblock %}